<hcl-ers-selector-panel [breeds]="breeds| async" (breedSelected)="onBreedSelection($event)" (hasSubBreed)="hasSubBreed($event)"
    (subBreedSelected)="onSubBreedSelection($event)" [breedImages]="breedImages | async"></hcl-ers-selector-panel>
<hcl-ers-products (OnBuy)="onBuy($event)" [breedImagesLoaded]="breedImagesLoaded | async" [subBreedImagesLoaded]="subBreedImagesLoaded | async"
    [breedImages]="breedImages | async" [subBreedImages]="subBreedImages | async" [hasSubBreed]="isSubBreed | async"></hcl-ers-products>